<section id="education" class="black-bg p-5">
    <div class="container">
      <h1 class="section-title text-center">Education</h1>
      <div class="row col-lg-12 col-md-12 col-sm-12">
        <p>
            University of California, San Diego
            <br> 
            B.S. Computer Engineering
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Computer Science And Engineering Courses</h4>
            <ul class="list-unstyled">
                <li>Fluency in Information Technology</li>
                <li>Basic Data Structures and Object-Oriented Design</li>
                <li>Software Tools and Techniques Laboratory</li>
                <li>Discrete Mathematics</li>
                <li>Mathematics for Algorithms and Systems</li>
                <li>Computer Organization and Systems Programming</li>
                <li>Advanced Data Structures</li>
                <li>Design and Analysis of Algorithms</li>
                <li>Software Engineering</li>
                <li>Principles of Computer Operating Systems</li>
                <li>Web Client Languages</li>
                <li>Server-side Web Applications</li>
                <li>Components and Design Techniques for Digital Systems</li>
                <li>Digital Systems Laboratory</li>
                <li>Intro to Computer Architecture</li>
                <li>Project in Computer Architecture</li>
                <li>Intro to Artificial Intelligence: Statistical Approaches</li>
                <li>Mobile Development</li>
                <li>Enterprise Web Applications</li>
            </ul>
        </div> 

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Electrical Engineering Courses</h4>
            <ul class="list-unstyled">
                <li>Intro to Analog Design</li>
                <li>Circuits and Systems</li>
                <li>Components and Circuits Laboratory</li>
                <li>Linear Systems Fundamentals</li>
                <li>Advanced Digital Design Project</li>
            </ul>
        </div> 

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Economic Courses</h4>
            <ul class="list-unstyled">
                <li>Principles of Microeconomics</li>
                <li>Econometrics A</li>
            </ul>
        </div> 

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Management Courses</h4>
            <ul class="list-unstyled">
                <li>Business Project Management</li>
            </ul>
        </div> 

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Mathematics Courses</h4>
            <ul class="list-unstyled">
                <li>Calculus A</li>
                <li>Calculus B</li>
                <li>Calculus and Analytic Geometry</li>
                <li>Intro to Differential Equations</li>
                <li>Linear Algebra</li>
            </ul>
        </div> 

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Physics Courses</h4>
            <ul class="list-unstyled">
                <li>Mechanics</li>
                <li>Electricity and Magnetism</li>
                <li>Fluids, Waves, Thermodynamics, and Optics</li>
            </ul>
        </div> 
      </div>       
    </div>
</section>

  