<div class="drop">
    <p id="nav_name">Vee</p>
</div>
<header class="header">
    <nav id="nav">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span>
        </label>
        <ul class="menu">
            <li>
                <a href="#home" class="active">
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="#about">
                    <p>About Me</p>
                </a>
            </li>
            <li>
                <a href="#projects">
                    <p>Projects</p>
                </a>
            </li>
            <li>
                <a href="#skills">
                    <p>Skills</p>
                </a>
            </li>
            <li>
                <a href="#education">
                    <p>Education</p>
                </a>
            </li>
        </ul>
    </nav>
</header>