<section id="projects" class="gray-bg p-5">
    <div class="container">
      <h1 class="section-title text-center">Projects</h1>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/msnet.jpg">
            <h4 class="item-card-title mt-3 text-center">RegistrarNow!</h4>
            <p class="card-text p-3">RegistrarNow! is a web application which performs as a 
                                  basic university registration system for Administrators, 
                                  Professors, and Students. The application allows students to 
                                  send and receive messages from Academic Advising. Users can login, 
                                  enroll in classes, view course listings, update personal info, 
                                  view grades with their class rank, class grade distribution and final schedule.</p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/fpga.jpg">
            <h4 class="item-card-title mt-3 text-center">SHA-1 Hash Algorithm</h4>
            <p class="card-text p-3">A simulated design of the SHA-1 Hash Algorithm developed in Verilog. 
                                    The simulated design takes input of a message and computes it into a 
                                    160-bit SHA1 hash. The simulated design utilizes multiple pipelines 
                                    to increase performance of the algorithm and reduce area delay between 
                                    the execution of each instruction.
            </p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/android.jpg">
            <h4 class="item-card-title mt-3 text-center">BeanMe!</h4>
            <p class="card-text p-3">BeanMe! is an Android app that simplifies group ordering for coffee runners. 
                                    BeanMe! allows users to host coffee runs, invite friends to the runs, and get 
                                    invited to the coffee run. It works by a having a host create a run which notifies 
                                    the users in the run to send their order to the friend that is taking their orders. 
                                    So, throw away the pen and paper and just BeanMe!
            </p> 
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/webdev.png">
            <h4 class="item-card-title mt-3 text-center">AdminALL</h4>
            <p class="card-text p-3">AdminALL is a web app created for Administrators to be able to manage users. 
                                  There are three user groups which include Administrators, Group Level Users, and 
                                  General Users. The Admins are allowed to create, edit, and delete user profiles. 
                                  If a user forgets their password, they can send a request have their password reset.
            </p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/webdev.png">
            <h4 class="item-card-title mt-3 text-center">Dopamemes</h4>
            <p class="card-text p-3">Dopamemes is a web app which allows users to create, upload, and organize memes. 
                                  There is also a chrome extension that complements this web application. This web 
                                  app features saving memes in albums, sorting memes, and rating memes. Users can also 
                                  drag and drop and upload memes from their desktop and save it to their only library.
            </p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/qt.png">
            <h4 class="item-card-title mt-3 text-center">Boggle</h4>
            <p class="card-text p-3">Implemented the backend logic to find all possible words for a game of Boggle. 
                                  The logic utilizes a Multi-way trie to maintain a lexicon and a Depth First 
                                  Search to find all valid words on a randomly generated 4x4 boggle board.
            </p> 
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/java.jpg">
            <h4 class="item-card-title mt-3 text-center">AdminALL</h4>
            <p class="card-text p-3">MessageIt is a Java based chat application that looks and feels like AOL Instant Messenger. 
                                  The application allows the end user to register, login, and chat with other registered users 
                                  which are their friends. Because it is a Java application, the user can run this application on 
                                  any platform, whether it is Windows, OS X, or Linux.
            </p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mt-2 mb-2">
          <div class="card">
            <img src="assets/images/projects/android.jpg">
            <h4 class="item-card-title mt-3 text-center">Dopamemes</h4>
            <p class="card-text p-3">Mathletica is an e-learning Android application that exercises student’s mind and endurance. 
                                There are four difficulty levels that can be selected, where each level becoming exponentially harder. 
                                Each question will tell you whether or not the student submitted the correct or wrong solution. 
                                See how high you score!!!
            </p> 
          </div>
        </div>

      </div>  
    </div>
</section>

  