<section id="skills" class="dark-gray-bg p-5">
    <div class="container">
      <h1 class="section-title text-center">Skills</h1>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Programming Languages</h4>
            <ul class="list-unstyled">
                <li>Java</li>
                <li>C#</li>
                <li>Golang</li>
                <li>Python</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SQL</li>
                <li>T-SQL</li>
                <li>PL/SQL</li>
            </ul>
        </div> 
        
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Frameworks</h4>
            <ul class="list-unstyled">
                <li>ASP.NET</li>
                <li>ASP.NET Core</li>
                <li>Entity Framework</li>
                <li>Bootstrap</li>
                <li>Angular 8</li>
                <li>Spring</li>
            </ul>
        </div> 
        
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Databases</h4>
            <ul class="list-unstyled">
                <li>Microsoft SQL Server</li>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>Oracle 12c</li>
                <li>PostgreSQL</li>
            </ul>
        </div>  

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">IDE / Tools</h4>
            <ul class="list-unstyled">
                <li>Eclipse</li>
                <li>Android Studio</li>
                <li>Visual Studio</li>
                <li>Visual Studio Code</li>
                <li>SourceTree</li>
                <li>Postman</li>
                <li>Filezilla</li>
                <li>Hyper-V</li>
            </ul>
        </div>  

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">OS Environments</h4>
            <ul class="list-unstyled">
                <li>Linux</li>
                <li>macOS</li>
                <li>Windows</li>
            </ul>
        </div>  

        <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-2">
            <h4 class="item-card-title mt-3">Additional Skills</h4>
            <ul class="list-unstyled">
                <li>Git</li>
                <li>Photoshop</li>
            </ul>
        </div>  

      </div>       
    </div>
</section>

  