/****************************************************************************** 
* GLOBAL STYLES                                                               *
******************************************************************************/

/*vvv Fonts vvv*/
@import 'assets/scss/fonts/mulish-font.scss';
$mulish-font: 'Mulish', sans-serif;
/*^^^ Fonts ^^^*/

/*vvv Global Settings vvv*/
* {
  font-family: $mulish-font;
 }

 .light-bg{
  color:#333333;
  background-color:#ffffff;
 }

 .gray-bg{
  color:#333333;
  background-color:#F8F8F8;
 }
 
 .dark-bg {
  color:#fafafa;
  background-color:#141515;
 }
/*^^^ Global Settings ^^^*/

